@model List<GroupViewModel>
@{
    ViewData["Title"] = "Студенты";
    <h2><big>Студенты</big></h2>

    <h5><big>@Html.ActionLink("Добавить группу", "Create", "Group")</big></h5>
    foreach (var group in Model)
    {
        <table class="table-striped table-responsive table-bordered" width="500">
            <tr>
                <td colspan="4">
                    <h4><big><b>@group.Title (@group.Students.Count())</b></big> @Html.ActionLink("Редактировать", "Edit", "Group", @group) / @Html.ActionLink("Удалить", "Delete", "Group", @group)</h4>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    @Html.ActionLink("Добавить студента", "Create", new { GroupId = group.Id })
                </td>
            </tr>
            <tr>
                <td><h4><big>№</big></h4></td>
                <td><h4><big>ФИО</big></h4></td>
            </tr>
            @foreach (var student in group.Students.Select((data, index) => (data, index)))
            {
                <tr>
                    <td>
                        @(student.index + 1).
                    </td>
                    <td>
                        @Html.ActionLink(string.Join(' ',student.data.LastName, student.data.FirstName, student.data.MiddleName), "StudentIndex", "Mark", new { studentId = student.data.Id })                 
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", @student.data) / @Html.ActionLink("Удалить", "Delete", @student.data)
                    </td>
                </tr>
            }
        </table>
        <br /><br />
    }
}
